#topbar {
  width: 100%;
  background: #437dcc;
  line-height: 1;
  font-size: 13px;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 20px;
  border: 0;
  display: block;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}

#logo {
  width: 18%;
  height: 18%;
}


th {
  text-align: left;
}

.make-these-in-line {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

#navlist li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  padding: 5px:;
}

.home-links {
  display: inline;
  padding-right: 10px;
  padding-bottom: 20px;
  color: white;
}

.nav-links {
  float: right;
  padding: 50px;

}

.in-line-block {
  display: inline-block;
}

.vertical-align {
  vertical-align: top;
}

.home-categories {
  display: inline-block;
  margin: auto;
  padding: 0;
  border: 0;
  vertical-align: top;

  text-align: center;
}

.home-categories img {
  width: 500px;
  height: 500px;
}

.home-categories:hover {
  box-sizing: border-box;
  border: 12px solid #f69c55;
  opacity: 0.6;
}

.home-categories:hover p {
/*  border: 12px solid #f69c55;
*/
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
}


