#topbar {
  width: 100%;
  background: #437dcc;
  line-height: 1;
  font-size: 13px;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}

#logo {
  width: 18%;
  height: 18%;
}


th {
  text-align: left;
}

.make-these-in-line {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

#navlist li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  padding: 5px:;
}

.home-links {
  display: inline;
  padding: 5px;
}

.nav-links {
  float: right;
  padding: 50px;

}

.in-line-block {
  display: inline-block;
}

.vertical-align {
  vertical-align: top;
}

.hide-link-style {
  text-decoration: none;
  font-weight: normal;
  color: black;
  display: block;
  width: 200px;
  height: 200px;
  background: grey;
}

.home-categories {
  width: 500px;
  height: 500px;
  /*border: 12px solid black;*/
  /*border-radius: 12px;*/
/*  padding: 16px;
  margin: 12px;*/
  box-sizing: border-box;
  text-align: center;
}

.home-categories img {
  width: 500px;
  height: 500px;
}

/*.imgDescription {
  position: absolute;
  top: 50%;
  left: 50%;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;


  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility opacity 0.2s;

}*/

.category-image:hover {

  opacity: 0.7;

}

.home-categories:hover {
  opacity: 0.7;
  border: 12px solid orange;
}

#nav-wrapper {
width:465px;
margin:0 auto;
padding:20px 0;
background:#dddddd;
}

ul#nav {
font-family: Verdana;
font-size:14px;
list-style:none;
margin:0 auto;
padding:0;
width:455px;
overflow: auto;
}

ul#nav li {
display:inline;
}

ul#nav li a {
text-decoration:none;
display: block;
padding:5px 21px;
background:#666;
color:#ddd;
float:left;
text-align:center;
border-top:2px solid #555555;
border-right:2px solid #aaaaaa;
border-bottom:2px solid #aaaaaa;
border-left:2px solid #555555;
}

ul#nav li a:hover {
background:#f69c55;
color:#ffffff;
border-top:2px solid #815444;
border-right:2px solid #c59888;
border-bottom:2px solid #c59888;
border-left:2px solid #815444;
}

