<h1>Log In:</h1>
<% if @errors %>
<h3><%= @errors %></h3>
<% end %>
<form method="post" action='/users/login'>
  <label for="email">Email:</label>
  <input type="text" name="email"><br>

  <label for="password">Password:</label>
  <input type="password" name="password"><br>

  <input type="submit" value="Log In">
</form>
