<div>
<% @category.smacks.each do |smack| %>
  <div>
  <a href="/category/<%= smack.category.id %>/smacks/<%= smack.id %>"><%= smack.title %></a>
  <p><%= smack.description %></p>
  </div>
<% end %>
</div>
