<div class="container">
<% @categories.each do |category| %>
<div>
  <div class="in-line-block">
    <a href='/categories/<%= category.id %>'><%= category.topic %></a>
  </div>
</div>
<% end %>
</div>
