<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>smackOverflow</title>
</head>
<body>
  <%@logo_url = 'images/smack_overflow_logo.png' %>
  <header>
    <nav id="topbar">
      <a href='/'><img src="http://i.imgur.com/KXhxqit.png" alt="Smack Overflow"></a>
      <div id="nav-wrapper">
        <ul id="nav">
        <% if session[:user_id] != nil %>
          <li><form method="post" action='/users/logout'>
            <input name="_method" type="hidden" value="delete"><input type="submit" value="Log out"></li>
          </form>
          <br>
          <% @user = User.find(session[:user_id]) %>
          <p>Hi <%= @user.username %></p>

          <p>You have <%= @user.user_points %> Smack points!</p>

        <% else %>
          <li><a href="/users/login">Login</a></li>
          <li><a href="/users/new">Register</a></li>
      <% end %>
      </ul>
    </nav>
</div>
  </header>

  <%= yield %>
</body>
</html>
